<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wallet.repository.TransactionRecordMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO transaction_record (user_id,amount,type,description)
        VALUES (#{userId},#{amount},#{type},#{description})
    </insert>

    <select id="selectByUserIdWithPagination" resultType="TransactionRecord">
        SELECT * FROM transaction_record
        WHERE user_id = #{userId} ORDER BY create_time DESC
            LIMIT #{offset}, #{limit}
    </select>
    <select id="countByUserId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM transaction_record
        WHERE user_id = #{userId}
    </select>

    <delete id="deleteByUserId">
        DELETE FROM transaction_record WHERE user_id = #{userId}
    </delete>

</mapper>